EXPO_PUBLIC_NOTION_API_URL=<value>
EXPO_PUBLIC_NOTION_VERSION=<value>
EXPO_PUBLIC_NOTION_API_KEY=<value>
EXPO_PUBLIC_NOTION_CYCLE_DATA_SOURCE_ID=<value>
EXPO_PUBLIC_NOTION_ROUND_DATA_SOURCE_ID=<value>

EXPO_PUBLIC_DATE_API_URL=<value>
