EXPO_PUBLIC_NOTION_API_URL=<value>
EXPO_PUBLIC_NOTION_VERSION=<value>
EXPO_PUBLIC_NOTION_API_KEY=<value>
EXPO_PUBLIC_NOTION_GROUP_DATABASE_ID=<value>
EXPO_PUBLIC_NOTION_PERIOD_DATABASE_ID=<value>

EXPO_PUBLIC_DATE_API_URL=<value>
